<tr>
  <td>
    <img src="<%= product.image.tiny %>" alt="">
  </td>
  <td>
    <h4><%= product.name %></h4>
    <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item.item_price_cents / 100.0 %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item.total_price_cents / 100.0 %>
  </td>
</tr>